.weather-info-container {
    background-color: rgba(39, 123, 196, 0.54);
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0px 20px 25px 2px rgba(0, 0, 0, 0.349);
    padding: 20px;
    text-decoration: none;
    list-style: none;
    transition: all 0.5s ease-in-out;
}
.weather-info-container:hover {
    transform: scale(1.005);
}
.weather-info-container li {
    list-style: none;
}
.weather-info-container ul {
    background-color: rgba(127, 197, 255, 0.356);
    padding: 15px;
    font-weight: 300;
    margin-top: 15px;
}