.global-container {
    margin: auto;
    padding: 25px;
    margin-top: 35px;
    border-radius: 3px;
    width: 600px;
    background-color: rgba(0, 255, 255, 0.62);
    transition: all 0.3s ease-in-out;
}
.global-container:hover {
    transform: scale(1.02) translateX(2px);
}